<div class="row">
    <div class="col-md-5">
        <h4>Clients:</h4>
        <br>
        <div class="card card-body">
            <a class="btn btn-primary btn-sm btn-block" href="">Créer un Client</a>
            <table class="table table-sm">
                <tr>
                    <th></th>  
                    <th>Clients</th>
                    <th>Commandes</th>
                </tr>
            </table>
        </div>
    </div>
    <div class="col-md-7">
        <h5> les 5 Dernière Commandes</h5>
        <br>
        <div class="card card-body">
            <a class="btn btn-primary btn-sm btn-block" href="">Ajouter un Commande</a>
            <table class="table table-sm">
                <tr>
                    <th>Produit</th>
                    <th>Date de la commande</th>
                    <th>status</th>
                    <th>Mise à Jour</th>
                    <th>Supprimer</th>
                </tr>
            </table>
        </div>
    </div>
</div>