{% extends 'main.html' %}


{% block content %}
   
<div class="row">
    <div class="col-md-5">
        <h4>Clients:</h4>
        <br>
        <div class="card card-body">
            <a class="btn btn-primary btn-sm btn-block" href="">Créer un Client</a>
            <table class="table table-sm">
                <tr>
                    <th>ID</th>  
                    <th>Client</th>
                    <th>Telephone</th>
                    <th>Détail</th>
                </tr>
                {% for client in clients %}
                <tr>
                <th><a href="{% url 'client' client.id %}">{{client.id}}</a></th>
                <th>{{client.nom}}</th>
                <th>{{client.telephone}}</th>
                <th><a  class="btn btn-sm btn-success" href="{% url 'client' client.id %}">détail</a></th>
                </tr>
                {% endfor %}

            </table>
        </div>
    </div>

    <div class="col-md-7">
        <h4> tout les Commandes</h4>
        <br>
        <div class="card card-body">
            <a class="btn btn-primary btn-sm btn-block" href="{% url 'ajout_commande' %}">Ajouter un Commande</a>
            <table class="table table-sm">
                <tr>
                    <th>Produit</th>
                    <th>Client</th>
                    <th>Date de la commande</th>
                    <th>status</th>
                    <th>Modifier</th>
                    <th>Supprimer</th>
                </tr>
                {% for commande in commandes %}
                <tr>
                    <th>{{commande.produit}}</th>
                    <th>{{commande.client}}</th>
                    <th>{{commande.date_creation}} </th>
                    <th>{{commande.status}}</th>
                    <th><a  class="btn btn-sm btn-info" href="{% url 'modifier_commande' commande.id %}">Modifier</a></th>
                    <th><a  class="btn btn-sm btn-danger" href="#">Supprimer</a></th>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>

{% endblock %}