{% extends 'main.html' %}


{% block content %}
   <br>

<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <h4>Clients:</h4>
            <br>
            <a class="btn btn-outline-info btn-sm btn-block" href="">Modifier le Client</a>
            <a class="btn btn-outline-danger btn-sm btn-block" href="">Supprimer le Client</a>
        </div>
    </div>

        <div class="col-md">
            <div class="card card-body">
                <h4>Informations</h4>
                <br>
                <p>Nom: {{client.nom}}</p>
                <p>Telephone: {{client.telephone}}</p>
            </div>
        </div>

        <div class="col-md">
            <div class="card card-body">
                <h4>Total des Commandes</h4>
                <br>
                <h1 style="text-align: center; padding: 10px;">{{commande_total}}</h1>
            </div>
        </div>
    </div>

    <br>
    <div class="row">
        <div class="col">
            <div class="card card-body">
                <form method="get">
                    <button class="btn btn-primary" type="submit">Recherche</button>
                </form>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md">
            <div class="card card-body">
                <table class="table table-sm">
                    <tr>
                        <th>Produit</th>  
                        <th>Date de commande</th>
                        <th>Status</th>
                        <th>Modifier</th>
                        <th>Supprimer</th>
                    </tr>
                    {% for commande in commande %}
                    <tr>
                        <th>{{commande.produit}}</th>  
                        <th>{{commande.date_creation}}</th>
                        <th>{{commande.status}}</th>
                        <th><a href="">Modifier</a></th>
                        <th><a href="">Supprimer</a></th>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>

{% endblock %}